{% extends "base_generic.html" %}

{% block content %}
  <h1>Freeshelf</h1>
  <p>Books by category:</p>
  {% if categories %}
      {% for category in categories %}
          <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
      {% endfor %}
  {% else %}
      <p>What categories?</p>
  {% endif %}
  <h2><strong>Recently added books!</strong></h2>
  {% if books %}
  <ul>
    {% for book in books %}
    <li>
        <p><a href="{{ book.url }}">{{ book.title }}</a> by {{ book.author }}</p>
        <p>{{ book.description }}</p>
        <p>added {{ book.date_added }}</p>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books on the site.</p>
  {% endif %}
{% endblock %}